.container {
  background-color:lightgoldenrodyellow;
  width:100vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  border-top:1px solid black;
  box-shadow:0.3px 0.3px 0.3px 0.3px black;
  position:fixed;
  left:10px;
  bottom:0;
  
}
.container p{
  font-size:10px;
  font-weight:700;
  color:#292929;
}
.container p a{
  font-style:bold;
  color:#166bba;
}